.main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 50px;
    
    .container{
        width: 1200px;
        margin-top: 50px;
        .title_page{
            text-align: center;
            
        }
        .search{
        max-width: 1200px;
        margin-top: 80px;
        height: 200px;
        display: flex;
        flex-direction: column;
            input{
                width: 600px;
                height: 40px;
                margin-bottom: 50px;
                align-self: center;
                font-size: 20px;
                outline: none;
                background-color: #ebebeb;
                border: none;
                
            }
            button{
                background-color: #68777d;
                text-align: center;
                display: flex;
                align-items: center;
                width: 300px;
                height: 50px;
                align-self: center;
                border-radius: 8px;
                border: none;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 2px;
                color: white;
                outline: none;
                span{
                    width: 250px;
                }
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            button:hover{
                background-color: #46527a;
            }
        }
    .repositories_list{
        max-width: 1200px;
        display: grid;
        grid-template-columns: 5fr 5fr 4fr;
        grid-template-rows: 3fr 3fr 3fr;
        grid-gap: 2vw;
        justify-content: stretch;

        #elem{
            height: 500px;
            width: 400px;
            display: flex;
            flex-direction: column;
            #name_elem{
                font-size: 20px;
                font-weight: 400;
                text-align: center;
            }
            #owner{
                font-size: 18px;
                height: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    border-radius: 100px;
                    width: 48px;
                    height: 48px;
                }
            }
            #last_commit{
                font-size: 20px;
                margin-left: 20px;
            }
            #link_to_github{
                font-size: 20px;
                margin-left: 20px;
                text-decoration-line: none;
            }
            #stars{
                font-size: 20px;
                display: flex;
                align-items: center;
                img{
                    width: 24px;
                    height: 24px;
                    margin-left: 20px;
                }
            }
            max-width: 300px;
            height: 200px;
            background-color: #d0d0d6;
        }

    }
    
    @media (max-width: 760px) {
        .repositories_list{
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-columns: repeat(2, 300px);
        }
    }

    @media (max-width: 427px) {
        .repositories_list{
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-columns: repeat(1, 300px);
        grid-gap: 1vw;
        }
    }

        
    .paginator{
        margin-bottom: 0;
        height: 100px;
        display: flex;
        justify-content: center;
        #paginator{
            color:gray;
            font-size: 25px;
            font-weight: 400;
            ol{
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                li{
                    width: 20px;
                }
                li:active{
                    color: #46527a;
                    font-weight: 500;
                }
                li:hover{
                    width: 30px;
                    color: #46527a;
                    cursor: pointer;
                    font-weight:500;
                }
            }
        }
    }

    }
}